<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD_OPEARATIONS_7_pm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistrationController</display-name>
    <servlet-name>EmployeeRegistrationController</servlet-name>
    <servlet-class>com.controller.EmployeeRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistrationController</servlet-name>
    <url-pattern>/EmployeeRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListController</display-name>
    <servlet-name>EmployeeListController</servlet-name>
    <servlet-class>com.controller.EmployeeListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListController</servlet-name>
    <url-pattern>/EmployeeListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteController</display-name>
    <servlet-name>EmployeeDeleteController</servlet-name>
    <servlet-class>com.controller.EmployeeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteController</servlet-name>
    <url-pattern>/EmployeeDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEditController</display-name>
    <servlet-name>EmployeeEditController</servlet-name>
    <servlet-class>com.controller.EmployeeEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditController</servlet-name>
    <url-pattern>/EmployeeEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpdateController</display-name>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <servlet-class>com.controller.EmployeeUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <url-pattern>/EmployeeUpdateController</url-pattern>
  </servlet-mapping>
</web-app>